<div class="container mt-5">
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title">I tuoi film preferiti</h2>

            <div *ngIf="favoriteMovies.length > 0; else noFavorites">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let movie of favoriteMovies">
                        <td>{{ movie?.id }}</td>
                        <td>{{ movie?.title }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeFromFavorites(movie)">Rimuovi</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #noFavorites>
                <p>Nessun film salvato tra i preferiti al momento.</p>
            </ng-template>
        </div>
    </div>
</div>
