<ngb-carousel *ngIf="bannerResult as bannerMovies">
    <ng-template ngbSlide *ngFor="let b of bannerMovies;let i=index">
        <div class="picsum-img-wrapper">
          <img [routerLink]="['/film-detail',b.id]"
               alt="..."  src="https://image.tmdb.org/t/p/original/{{ b?.backdrop_path }}">
        </div>
        <div class="carousel-caption">
          <h2>{{b?.original_title}}</h2>
          <p>{{b?.overview}}</p>
        </div>
    </ng-template>
</ngb-carousel>


<div class="mt-4 p-4">

    <h2 class="text-white ">Ultime Uscite</h2>
    <div *ngIf="trendingMovieResults$ | async as trendingMovies" class="row ">
        <div *ngFor="let trendingMovie of trendingMovies " class="col-lg-8 ">
            <div class="row mt-2 mb-2 ">
                <div class="col-lg-4 ">
                    <img [routerLink]="[ '/film-detail',trendingMovie?.id] "
                         src="https://image.tmdb.org/t/p/original/{{ trendingMovie?.poster_path }} ">
                </div>
                <div class="col-lg-8 ">
                    <h3 class="text-white ">{{trendingMovie?.title}}</h3>
                    <p class="text-white ">{{trendingMovie?.overview}}</p>
                </div>
            </div>
        </div>
    </div>


    <mat-paginator #paginator
                   (page)="pageChanged($event)"
                   [length]="totalMovies"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize"
                   [showFirstLastButtons]="true">
    </mat-paginator>
</div>

