.carousel-caption h2 {
  color: #E50914;
  font-weight: bold;
  font-size: 30px;
}

.carousel-caption p {
  color: #ffffff;
}

.rowposter {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowimg {
  max-height: 8px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 79px;
}

.rowimg:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.largeposter {
  max-height: 300px;
}

.rowposter::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

img:hover {
  transform: scale(1.01);
  cursor: pointer;
  transition: transform 450ms;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Aggiungi un box-shadow bianco */
}

h1 {
  color: white;
  font-weight: bold;
  transition: transform 450ms;
}

p {
  color: white;
}

a {
  background-color: red;
  color: white;
}

a:hover {
  background-color: blue;
  color: white;
  border: 2px solid white;
}

.text {
  margin: 12px 6px;
  letter-spacing: 0.6px;
}
