body {
    font-family: "Poppins", sans-serif;
    background-image: url("./assets/sfondo.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: black;
}